<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    </head>
    <body>
        <div class="container" style="margin-top:30px;">
        <ul class="nav nav-tabs" id="J-allnav">
            <li role="presentation" class="active" value="aqi"><a href="#">空气指数</a></li>
            <li role="presentation" value="PM2_5"><a href="#">PM2.5</a></li>
        </ul>
            <div id="airall_chart" style="width:100%;min-height:350px;background-color:gray"></div>
            <ul class="nav nav-tabs" id="J-nav">
                <li role="presentation" class="active" value="line"><a href="#">折线图</a></li>
                <li role="presentation" value="bar"><a href="#">柱状图</a></li>
            </ul>
            <div id="air_chart" style="width:100%;min-height:300px;background-color:gray"></div>
        </div>
        <script data-main="js/home.js"src="vendor/requirejs/require.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>